<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>الصفحة الرئيسية</title>
        {% load static %}

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper" dir="rtl">
            <!-- Sidebar-->
            <div class="border-end bg-white pull-end" dir="rtl" id="sidebar-wrapper" >
                <div class="sidebar-heading border-bottom bg-light">محيط</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/home">الرئيسية</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/new_article">اضافة مقال جديد</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/accept_article">موافقة على نشر مقال</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/new_user">اضافة مستخدم جديد</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><h3>مرحبًا {{user.first_name}} </h3></li>

                            </ul>
                            <a href="/admin/logout"><button class="btn btn-danger">تسجيل خروج</button></a>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="card">
                    <p>{{article.description}}</p>
                </div>
            </div>
        </div>
 </body>
</html>
